<h1>Display details about plants</h1>
 
   <p>Name: {{onePlant.name}}</p>
   <p>Reviews: {{onePlant.reviews}}</p>
   <p>Pet Friendly?: {{onePlant.pet_friendly}}</p>
   <p>Easy to care: {{onePlant.easy_care}}</p>
   <p>Easy to care: {{onePlant.purifying_air}}</p>

<a href="/garden"><p>Back to garden</p></a>
      
