{{!-- Display a card with plant's details --}}
<div class="details">
    <h1>Meet and greet with our plants</h1>
    <h4>Name</h4>
        <p>{{onePlant.name}}</p>
    <h4>Description</h4>
        <p>{{onePlant.description}}</p>
    <h4>Reviews</h4>
        {{#each onePlant.reviews}}
            <li><i class="em em-tulip"></i>{{this}}</li>
        {{/each}}
    <br> 
    <h4>Advice to care</h4>   
        <p>{{onePlant.advice_care}}</p>
     

    <div class="grid">
        <div class="one">
        <h4>Pet Friendly? <i class="em em-dog2"></i></h4>
            <p>{{onePlant.pet_friendly}}</p>
        </div>    
        <div class="two">
        <h4>Easy to care?<i class="em em-cactus"></i></i></h4>
            <p>{{onePlant.easy_care}}</p>
        </div>
        <div class="three">
        <h4>Purifying air?<i class="em em-earth_americas"></i></h4>
            <p>{{onePlant.purifying_air}}</p>
        </div>
        
    </div>    
    <a href="/garden"><p>Back to garden</p></a>
</div> 

