{{!-- display a board with a user's save plants --}}
<div class="main-own">
    <div class="own-garden">
        <div class="row">
            {{#each userPlants.likes}}
                <div class="col-md-6">
                    <div class="image">
                        <img src="{{this.image_url}}">
                    </div>
                    <div class="mygarden-information">
                        <h4>{{this.name}}</h4>
                        <i>{{scientific_name}}</i> </p>
                        <p>Reviews: </p>
                        {{#each this.reviews}}
                            <li>{{this}}</li>
                        {{/each}}
                        <br>
                        <p>Pet friendly?: {{this.pet_friendly}}</p>
                        <p>Purifying air?: {{this.purifying_air}}</p>
                        <div class="social-interactions">
                            <div class="sharethis-inline-share-buttons">
                                <span class="st_twitter_large" displayText="Tweet"></span>
                                <span class="st_facebook_large" displayText="Facebook"></span>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
 










