
{{!-- display board with plant's database --}}

<div class="garden">
  <div class="row">
    {{#each allPlants}}
      <div class="col-md-4">
        <img class="item-image" src="{{this.image_url}}">
          <div class="plant-item">
            <h1>{{this.name}}</h1>
            <i>{{this.scientific_name}}</i>
            <p>{{this.description}}</p>
          <div class="interactions">
              <button class="save-plant" data-plantid={{this._id}} >Save</button>
              <a href="/garden/{{this._id}}">More information</a>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
    </div>



















